[defaults]
host_key_checking = False
inventory = inventory.ini
vault_identity_list = dev@~/.ansible/vault/dev_pass, prod@~/.ansible/vault/prod_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
